NEXT_PUBLIC_CHAIN_ID=84532
NEXT_PUBLIC_RPC_URL="https://sepolia.base.org"
NEXT_PUBLIC_CONTRACT_ADDRESS=""
NEXT_PUBLIC_APP_URL="http://localhost:3000"
PINATA_JWT=""
RELAYER_PRIVATE_KEY=""
DEPLOYER_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80